@tailwind base;
@tailwind components;
@tailwind utilities;

.servicesDiv:hover{
     background-color: #018FFC;
     cursor:  pointer;
}

.servicesDiv:hover .servicesDivImg{
   filter: invert(1);
}

.servicesDiv:hover .sh2{
  color: white;
}